  <div class"span12">
  <h3>Latest prices for <%= @commodity.name %></h3>
  <table>
  <tr><th>Price</th><th>Quality</th><th>Buyer</th><th>Date</th></tr>
<% @prices.each do |post| %>
  <tr>
    <td><%= post.price %></td>
    <td><%= post.quality %></td>
    <td><%= post.buyer %></td>
    <td><%= post.date.try(:strftime,'%m/%d/%Y') %></td>
  </tr>
<% end %>
  </table>
<%= link_to "New Price Report", new_commodity_price_path(@commodity) %>
  </div>