<h3>Enter the price and quality for <%= @commodity.name %> in today's market</h3>

<%= form_for [@commodity, @price] do |f| %>
  <%= f.label :price %>
  <%= f.text_field :price %>
  <%= f.label :quality %>
  <%= f.text_field :quality %>
  <%= f.label :buyer %>
  <%= f.text_field :buyer %>
  <%= f.hidden_field :date, :value => Time.now %>
  <%= f.hidden_field :commodity_id, :value => @commodity.id %>
  <%= f.submit %>
<%- end %>

